# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/
yolov8/

# YOLO training outputs
runs/
datasets/
dataset/
data/
train/
valid/
test/

# Large model / video files
*.pt
!weights/
!weights/best.pt
*.onnx
*.engine
*.mp4
!demo1.mp4
*.avi
*.mov
*.zip
*.rar
